{% extends 'base.html.twig' %}
{% block title %}Hello World! | {{ parent() }}{% endblock %}
{% block body %}
	<p>Hello World!</p>
	{% set var ='<strong>titre en gras</strong>' %}
	{{ var | raw }}
{% endblock %}
