{% extends 'base.html.twig' %}
{% block title %}Add wish | {{ parent() }}{% endblock %}
{% block body %}
	<div>
		<h2>Add a wish to the bucket list</h2>

		{{ form_start(wishForm) }}

		{{ form_widget(wishForm) }}

		<button class="btn btn-primary">Add Wish</button>

		{{ form_end(wishForm) }}

	</div>
{% endblock %}
