{% extends 'base.html.twig' %}
{% block title %}Details | {{ parent() }}{% endblock %}
{% block body %}
<h1>Details</h1>
<p>Phasellus laoreet lorem vel dolor tempus vehicula. Curabitur est gravida et libero vitae dictum. Ullamco laboris nisi
	ut aliquid ex ea commodi consequat./p>
	{% endblock %}


