body {
    background-color: ghostwhite;
}

.bg-primary {
    background-color: #1c0d40 !important;
}

.nav-item {
    padding-right: 1rem;
}

.nav-link {
    color: ghostwhite;
}

#logo {
    width: 45px;
    filter: invert(100%) brightness(200%) saturate(200%);
}

main {
    padding: 1rem 0;
}

.bucket-list {
    display: grid;
    grid-gap: 1rem;
}